*{
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  font-family: "Montserrat", serif;
}
body {
  background-image: url('../imagens/Fundo.png'); /* Caminho da imagem */
  background-size: cover; /* Faz a imagem cobrir todo o fundo */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  background-position: center; /* Centraliza a imagem */
}
#logo{
  width: 165px;
  height: 88px;
}

ul{
  padding: 0px;
}
li{
  justify-items: center;
}
p{
  margin: 0px;
  font-size: 15px;
  font-weight: 500;
}

.navbar{
  height: 134px;
}
#navbarNav{
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.navbar1{
list-style: none;
margin: 0;
}
.navbar1 li{
  margin-right: 11.45px;
  align-content: center;
}
#graficaLi{
  width: 325px;
  height: 24px;
}
#xpLi{
width: 183px;
height: 15px;
}
#bagulinhoLi{
  width: 1.75px;
  height: 14.21px;
}
#quemsomosLi{
  width: 109px;
  height: 13px;
}
#duvidasfrequentesLi{
  width: 156px;
  height: 15px;
}







#grafica{
   background: linear-gradient(to right, blue, #0035ff, #007fff, #e500b5, #f27100, #fff200);
   border-radius: 5px;
   padding-left: 30px;
   padding-right: 30px;
   
}
#xp{
  background: linear-gradient(to right, blue, #0035ff, #007fff, #e500b5, #f27100, #fff200);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#exampleDataList{
    border-radius: 40px;
    border-width: 3px;
    background-color: black;
    height: 50px;
    font-size: 20px;
    color: white;
}
.form-control::placeholder {
    color: white; /* Placeholder claro para contraste */
    padding-left: 10px;
  }
  #search{
    width: 100%;
    text-align: center;
    position: relative;
  }
  .search-icon {
    position: absolute;
    top: 50%;
    right: 20px; /* Ajusta o ícone para o final do campo */
    transform: translateY(-50%);
    font-size: 20px;
    color: white;
    pointer-events: none; /* Impede que o ícone interfira na interação do usuário */
    font-weight: bolder;
}
.separator {
  position: absolute;
  top: 50%;
  right: 63px; /* Posição da linha vertical */
  transform: translateY(-50%);
  height: 90%; /* Ajuste a altura da linha */
  width: 3px; /* Espessura da linha */
  background-color: #ccc; /* Cor da linha */
  pointer-events: none;
}


  #whatsapp{
    padding-right: 10px;
    width: 27.69px;
    height: 27.85px;
  }
  #instagram{
    
    width: 27.85px;
    height: 27.85px;
  }
  #facebook{
    width: 27.85px;
    height: 27.85px;
    position: relative;
    left: 10px;
    top: 7.3px;
  }

  #icons{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    bottom: 14px;
    position: relative;
  }

  #linksuteis{
    background: linear-gradient(to right, blue, #0035ff, #007fff, #e500b5, #f27100, #fff200);
    height: 48px;
    justify-content: center;
    align-content: center;
  }
  #containerItens{
    margin: 0;
  }
  #hamburger{
    margin-right: 6px;
  }
  .links{
    display: flex;
    list-style: none;
    align-content: center;
  }
  .links li{
    align-items: center;
    justify-content: center;
    margin-right: 13.50px;
   
    font-weight: 500;
  }
  a{
    color: #fff;
    text-decoration: none;
  }
  a:hover{
    opacity: 0.7;
  }
  #orcamento{
    color: black;
    font-weight: bolder;
    font-size: 16.21px;
  }
  #bagulinho{
  font-size: 16.21px;
}
  #Categorias{
    background: linear-gradient(to right, blue, #0035ff, #007fff, #e500b5, #f27100, #fff200);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 600;
    height: 40px;
  }



  .carousel-item{
    width: 100%;
    height: auto;
}

/* Estilos para os botões */
.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  color: gray;
  border-radius: 50%; /* Torna os botões circulares */
  cursor: pointer;
  
}

/* Remove o estilo padrão das setas */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0; /* Remove as setas padrão */
  content: '';
  width: 25px;
  height: 25px;
  background-image: url('../imagens/seta\ .png');
  background-size: cover; /* Faz a imagem cobrir todo o fundo */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  background-position: center; /* Centraliza a imagem */
   /* Forma a seta */
  
}
.swiper-button-next::after {
  transform: rotate(-180deg); /* Ajusta a rotação da seta para "avançar" */
}


.btn-prev-1{
  top: 770px;
  left: 350px;
  position: absolute;
  
}
.btn-next-1{
  top: 770px;
  right: 350px;
  position: absolute;
  
}
#btn-pagination-1{
  top: 885px;
  position: absolute;
}

.btn-prev-2{
  top: 1115px;
  left: 350px;
  position: absolute;
  
}
.btn-next-2{
  top: 1115px;
  right: 350px;
  position: absolute;
  
}
#btn-pagination-2{
  top: 1380px;
  position: absolute;
}



.mySwiper1{
  position: relative;
}


#cardsCarouselMain {
  display: flex;  
  margin-top: 30px;
  align-items: center;  
  list-style: none; /* Remove os marcadores padrão da lista */

}

#cardsCarouselMain li {
  text-align: center; /* Centraliza o conteúdo dentro de cada item */
  
  
}
#cardsCarousel1{
  overflow: visible;
}
#cardsCarousel{
  padding-top: 15px;
  font-size: 16.21px;
  
}

#cardsCarouselMain img {
  height: 154px; /* Mantém a proporção das imagens */
} 



#maisvendidos{
  background: linear-gradient(to right, blue, #0035ff, #007fff, #e500b5, #f27100, #fff200);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 12px;
  font-size: 25px;
  height: 40px;
}
#cardsCarouselMain2 img{
  height: 274px;

}
#cardsCarouselMain2 h5{
  font-weight: bolder;
}
#cardsCarousel2{
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
}
#cardsCarousel3{
  margin-top: 2px;
}













footer{
  height: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden; /* Garante que o pseudo-elemento não "vaze" */
  color: black;
  
}
footer::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../imagens/Fundo.png'); /* Caminho da imagem */
  background-size: cover; /* Faz a imagem cobrir todo o fundo */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  background-position: center; /* Centraliza a imagem */
  filter: invert(1);
  z-index: -1;
}
footer p{
  color: black;
  font-size: 15px;
  font-weight: 600;
}
footer h6{
  font-size: 20px;
  font-weight: 600;
}

#barrafooter{
  background: linear-gradient(to right, blue, #0035ff, #007fff, #e500b5, #f27100, #fff200);
  height: 30px;
  margin-top: 30px;
  width: 100%;
}
#containerFooter{
 display: flex;
 padding-top: 30px;
 font-weight: bolder;
}
#INSTITUCIONAL{
  
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
#footerUl{
  margin-left: 16px;
}
#formas_de_pagamento{
  margin-left: 70px;
  list-style: none;
  justify-items: center;
}
#formas_de_pagamento h6{
  margin-bottom: 30px;
}
#formas_de_pagamento img{
  width: 150px;
  height: auto;
}
#ajuda{
  margin-left: 70px;
}
#ajuda_h6{
  margin-bottom: 30px;
  text-align: center;
  list-style: none;
}
#direitos{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
#direitosUl{
  align-items: center;
}
#direitosUl .no-style{
  list-style: none;
  margin-right: 20px;
}
#direitosUl li {

  padding-left: 20px; /* Espaçamento entre o marcador e o conteúdo */
}
#direitosUl li::marker {
  padding-left: 20px;
  margin-left: 100px;
  font-size: 20px; /* Tamanho do marcador */
}
#grafica2{
  margin-left: 10px;
  list-style: disc;
}





.containerOrcamento{
  margin-top: 50px;
  display: flex;
}
.orcamentoPersonalizado h2{
  margin-bottom: 20px;
}
.orcamentoLogo{
  margin-right: 50px;
}
.orcamentoLogo img{
  width: 500px;
  height: 500px;
  border-radius: 30px;
}
.campo {
  display: flex;
  margin-bottom: 10px;
}

.campo label {
  width: 150px; /* Define uma largura fixa para alinhar as labels */ /* Alinha o texto das labels à direita */
}

.campo select {
  width: 200px;
  border-radius: 5px;
}
#enviarWhatsApp{
  width: 350px;
  border-radius: 5px;
  background: linear-gradient(to right, blue, #0035ff, #007fff, #e500b5, #f27100, #fff200);
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}